.hero-text {
    font-size: xxx-large;
}

#banner {
    padding-top: 25%;
    margin-bottom: 0;
    background-image: url("../media/12.2020/mbti-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}