/* ===================================================================
 *
 *  Main Stylesheet
 *  December 2020
 *
 * =================================================================== */

p {
    text-align: justify;
}

.code-block {
    background-color: #ededed;
}

.copyright {
    margin-top: 10rem;
    text-align: center;

}

#bttn-backtotop {
    display: none;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 0;
}

#bttn-backtotop:hover {
    background-color: #000000;
}